* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

html {
	width: 100%;
	background-color: #1b65a7;
	font-family: 'PT Sans', sans-serif;
}

.content {
	margin: auto;
	color: #fff;
	padding: 3%;
}

table {
	border-collapse: collapse;
	margin: 50px 0;
	background-color: #F4F4F9;
	color: #000;
	width: 100%;
	table-layout: fixed;
	border-radius: 5px;
}
table th {
	height: 60px;
	vertical-align: middle;
}

td {
	text-align: center;
	max-width: 100px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
	height: 60px;
	vertical-align: middle;
}

.adicionar {
	float: right;
	margin-bottom: 10px;
	transition: 300ms all;
	z-index: 200;
}

.adicionar:hover {
	filter: contrast(1.4);
	cursor: pointer;
	z-index: 200;
}

tbody {
	border-top: 2px solid #1b65a7;
}
tbody tr {
	transition: 200ms all;
}
.hover {
	background-color: #1b65a7;
	color: #fff;
	cursor: pointer;
}
tbody tr:hover {
	background-color: #1b65a7;
	color: #fff;
	cursor: pointer;
}

.modal {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.5);
	overflow-y: hidden;
	z-index: 9999;
}

.content-modal {
	background-color: #fff;
	margin:5%;
	height: 500px;
	padding: 5%;
	position: relative;
}

.content-modal .close {
	position: absolute;
	right: -10px;
	top: -10px;
}
.content-modal .close:hover {
	cursor: pointer;
}
.modal input {
	width: 100%;
	border-radius: 5px;
	height: 10px;
	border: 1px solid #ccc;
	padding: 15px;
	margin-bottom: 1%;
}

.input {
	width: calc(100% - 1em);
	border-radius: 5px;
	height: 50px;
	padding-left: 1em;
	color: #666;
	font-size: 2em;
	border: 1px solid #ccc
	margin-bottom: 1%;
}

.modal button {
	-webkit-appearance: button
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.modal h2 {
	margin-bottom: 50px;
}
.modal button:hover {
	color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.hide {
	display: none;
}

.log-message {
	font-size: 1em;
	font-weight: bold;
}
.erro {
	color: #f00;
}

.acerto {
	color: #4cae4c;
}
